.App {
  background-color: rgb(228, 152, 228);
  margin: 0 auto;
  text-align: center;

}

.Title {
  font-size: 5rem;
  color: white;
}

.Guess {
  font-size: 3rem;
  color: white;
}

.Dogimage {
  border-radius: 50%;
  max-height: 20rem;
  border: 2px solid rgb(144, 191, 231)
}

.AllOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Option {
  /* background-color: rgb(144, 191, 231); */
  border-radius: 50%;
  height: 10rem;
  width: 10rem;  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.Option:focus {
  outline-style: none;
}

.Option:hover {
  transform: scale(1.2);
}

.Hint {
  color: dimgray;
  font-style: italic;
}

.Footer {
  font-size: 1rem;
  color: white;
}